<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ExtJs4_Items</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Stock Data</description>
    <display-name>StockData</display-name>
    <servlet-name>StockData</servlet-name>
    <servlet-class>com.stutzen.stock.yapi.StockYahooApiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StockData</servlet-name>
    <url-pattern>/StockData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>History</description>
    <display-name>History</display-name>
    <servlet-name>History</servlet-name>
    <servlet-class>com.stutzen.stock.yapi.StockHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>History</servlet-name>
    <url-pattern>/History</url-pattern>
  </servlet-mapping>
   <servlet>
    <description>StockSymbol</description>
    <display-name>StockSymbol</display-name>
    <servlet-name>StockSymbol</servlet-name>
    <servlet-class>com.stutzen.stock.yapi.StockSymbolServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StockSymbol</servlet-name>
    <url-pattern>/StockSymbol</url-pattern>
  </servlet-mapping>
   <servlet>
    <description>StockExchange</description>
    <display-name>StockExchange</display-name>
    <servlet-name>StockExchange</servlet-name>
    <servlet-class>com.stutzen.stock.yapi.StockExchangeMinMaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StockExchange</servlet-name>
    <url-pattern>/StockExchange</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>DB2 Datasource</description>
    <res-ref-name>jdbc/mydb2</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
</web-app>
